{% extends "base.html" %}
{% load static %}


{% block sidebar %}

<section class="project_container">
  <!--start location list-->
  <aside class="location_list_container">
    <div class="flag">
    </div>
    <div class="list">
      <table>
        <tbody>

        {% for reading in readings %}
          <tr>
            <td><strong class="date">{{reading.date|date:"M d"}}</strong></td>
            <td><a href="#" id="marker{{forloop.counter0}}"><u>{{reading.book_title}}</u></a></td>
          </tr>
          <tr><td>Reader: {{reading.reader_name}}</td></tr>
          <!--new entry-->
        {% endfor %}

        </tbody>
      </table>

    </div>
  </aside>
  <!--end location list-->


  <!--start map-->
  <main class="map_container">
    <div id="map"></div>
  </main>
  <!--end map-->
</section>

{% endblock %}



<img src="{% static 'img/100days_map_image_800x800.jpg' %}" alt="">
