<!DOCTYPE html>
{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>RPL 100 Reads</title>
  </head>
  <body>

  </body>
</html>



<img src="{% static 'img/100days_map_image_800x800.jpg' %}" alt="">



  {% for o in readings %}
<ul>

      <li>{{o.date}}</li>
      <li>{{o.start_time}}</li>
      <li>{{o.book_title}}</li>
      <li>{{o.fun_fact}}</li>

</ul>

<img src="{{o.image_url}}" alt="">

{% endfor %}
